<ion-header>
  <ion-navbar>
    <ion-title>
      Student list
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="Create()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="students">
    <button ion-item *ngFor="let s of students" (click)="Detail(s.id)">
      <img col-2 item-start src="https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-13-512.png"
      /> Name: {{s.name}}<br /> Age: {{s.age}}
    </button>
  </ion-list>
</ion-content>